[Unit]
Description=Run secretary steward every three hours

[Timer]
OnCalendar=00/3:00:00
RandomizedDelaySec=150
Persistent=true
Unit=secretary-steward.service

[Install]
WantedBy=timers.target
