[Unit]
Description=Create daily secretary backups

[Timer]
OnCalendar=*-*-* 04:00:00 UTC
RandomizedDelaySec=900
Persistent=true
Unit=secretary-backup.service

[Install]
WantedBy=timers.target
